server:
  port: 9993

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/kiosk
    username: boot
    password: 1234

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    root: info

    org.springframework.security: trace
    com.ch.securityapp: debug
    com.ch.securityapp.member.filter: debug